body{
    margin: 0px;
    font-family: Arial;
}
button{
    background-color: #3882f6;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 5px 20px 5px;
    
}

a{
    text-decoration: none;
}

.hero{
    display: flex;
    background-color: #1f2937;
    padding-left: 360px;
    padding-right: 360px;
    padding-bottom: 100px;
    padding-top: 10px;
    align-items: stretch;
}

.logo{
    flex: 1;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.items{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.items a{
    color: #e5e7eb;
    font-size: 18px;
}

a:hover{
    color: #e5e7ebbb;
}


.herotext{
    flex: 1;
    padding-right: 100px;

}

.maintext{
    margin: 0px;
    font-size: 48px;
    font-weight:800;
    color: #f9faf8;
}

.text1{
    margin-top: 5px;
    color: #e5e7eb;
    font-size: 18px;
}

.imgg{
    flex: 1;
    background-color:gray;
    text-align: center;
    padding-top: 84PX;
    border-radius: 4px;

}

.herotext button:hover{
    background-color: #3881f6bd;
}

/*------------section------------------*/

.section2{
    display: flex;
    background-color: white;
    justify-content: space-around;
    padding-left: 360px;
    padding-right: 360px;
}

.section2 h1{
    margin-bottom: 50px;
    margin-top: 50px;
}

.box{
    height: 150px;
    width: 150px;
    border-color:#3882f6;
    border-style: solid;
    border-radius: 15px;
    min-width: 150px;
    flex: 1 0 1; 
}

.section2 p{
    flex: 1 0 1;
    text-align: center;
    color: gray;
    width: 160px;
    min-width: 160px;
    padding-bottom:60px ;
}

/*----------section----------*/


.section3{
    background-color:#e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.section3 p{
    padding-left: 360px;
    padding-right: 360px;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    width: 900px;
    color: #1f2937;
}

.section3 .autore{
    text-align: end;
    margin-top: -40px;
}

/*-------section-------*/

.section4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form  {
    background-color: #3882f6;
    width: 1000px;
    height: 150px;
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
    justify-content: space-around;

}

.form h3{
    flex: 1 0 1;
    padding-left: 30px;
    color: white;
    font-size: 20px;
}

.form h3 p{
    font-weight: 300;
    margin:0;
    font-size: 15px;
}

.form button{
    flex: 1 1 1; 
    border: 2px solid black;
    
}

.form button:hover{
    background-color: hwb(195 1% 39% / 0.596) !important;
}

/*--------footer----------------*/

.footer{
    background-color:#1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p{
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}





